extends layout

block content
  .container
    .jumbotron
      h1 Sign up using custom build OAuth2 server
  .container(style='position: absolute;   margin: auto;   top: 0;   right: 0;   bottom: 0;   left: 0;   width: 100px;   height: 100px;')
    form(action='/login')
      button.btn.btn-primary.btn-lg(type='submit') Sigup With Oauth2

